/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "urchin.dtsi"

/ {
    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        row-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        col-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
    };
};

